{{ define "directory" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Справочник</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {$ path_style="/src/assets/css/index.css" $}
    {$ path_style="/src/assets/css/Directory.css" $}
    {$ path_style="/src/assets/css/Header/Header.css" $}
    {$ path_style="/src/assets/css/Header/StickyHeader.css" $}
</head>

<body>
    <!-- Area of visibility VUE.typescript -->
    <div id="wrapper" class="show_content">
        <div class="preloader" :class="setDeletePreloader" v-if="preload">
            <h1>Evade | Directory</h1>
            <div class="progress"></div>
        </div>

        <!-- HEADER LAYOUT TEMPLATES -->
        {$ load_template="header_layout" $}
        {$ load_template="stickyheader_layout" $}
        <!-- END HEADER LAYOUT TEMPLATES -->

        <!-- START Main block for VUE.JS -->
        <main class="main indent-top">
            <div class="main__body_content container">
                <div class="directory show_content">
                    <h1 class="connect_bd">Осталось наполнить текстовым контентом</h1>
                    <section class="title">
                        <h1>Справочник</h1>
                    </section>
                    <div class="directory_items">
                        <section v-if="showHideDirectory" class="directory_content">
                            <h2>
                                Пункт 1. Основная документация и информация
                                о сайте
                            </h2>
                            <ol>
                                <li>
                                    <router-link to="/directory/basic-documentation" @click.native="showComponent()">
                                        Основная документация</router-link>
                                </li>
                                <li>
                                    <router-link to="/directory/service-information" @click.native="showComponent()">
                                        Информация о сервисе</router-link>
                                </li>
                                <li>
                                    <router-link to="/directory/service-founders" @click.native="showComponent()">
                                        Основатели сервиса</router-link>
                                </li>
                            </ol>
                            <h2>Пункт 2. Юридическая информация</h2>
                            <ol>
                                <li>
                                    <router-link to="/directory/privacy-policy" @click.native="showComponent()">Политика
                                        конфендициальности</router-link>
                                </li>
                                <li>
                                    <router-link to="/directory/terms-of-use" @click.native="showComponent()">
                                        Пользовательское
                                        соглашение</router-link>
                                </li>
                            </ol>
                            <h2>Пункт 3. Правила нашего сервиса</h2>
                            <ol>
                                <li>Позже...</li>
                                <li>Позже...</li>
                                <li>Позже...</li>
                            </ol>
                            <h2>Пункт 4. Техническая поддержка</h2>
                            <ol>
                                <li>Позже...</li>
                                <li>Позже...</li>
                                <li>Позже...</li>
                            </ol>
                            <h2>Пункт 5. Лицензии к трекам и битам</h2>
                            <ol>
                                <li>MP3 LEASE</li>
                                <li>WAV LEASE</li>
                                <li>TRACK OUT</li>
                                <li>EXCLUSIVE</li>
                                <li>CUSTOM</li>
                            </ol>
                            <h2>Пункт 6. Оплата и комиссии</h2>
                            <ol>
                                <li>Позже...</li>
                                <li>Позже...</li>
                                <li>Позже...</li>
                            </ol>
                            <h2>Пункт 7. Информация о подписках</h2>
                            <ol>
                                <li>PREMIUM</li>
                                <li>ADVERTISING</li>
                                <li>Позже...</li>
                            </ol>
                            <h2>
                                Пункт 8. Информация о системе достижений и
                                наградах
                            </h2>
                            <ol>
                                <li>Позже...</li>
                                <li>Позже...</li>
                                <li>Позже...</li>
                            </ol>
                            <h2>Пункт 9. Ссылки на странице</h2>
                            <ol>
                                <li>
                                    <router-link to="/directory/profile" @click.native="showComponent()">Профиль
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/directory/commerce" @click.native="showComponent()">Коммерция
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/directory/community" @click.native="showComponent()">Сообщество
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/directory/settings" @click.native="showComponent()">Настройки
                                    </router-link>
                                </li>
                            </ol>
                        </section>
                        <section v-if="showHideComponent" class="directory_content__explanation">
                            <div class="directory_fixed">
                                <router-view @hidecomponent="hideComponent"></router-view>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <ui-message-notificate :chat-data="chatData" :show-notif="showNotifMessage" @close-notif="onCloseNotif">
            </ui-message-notificate>
        </main>
        <!-- END Main block for VUE.JS -->
    </div>
    <!-- END Area of visibility VUE.typescript -->
</body>

</html>
{{ end }}