{{ define "profile" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {{ if $.ProfileData.Name }}
        <title>{{ $.ProfileData.Name }}</title>
        {{ else}}
        <title>Профиль</title>
        {{ end }}
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {$ path_style="/src/assets/css/index.css" $}
        {$ path_style="/src/assets/css/Profile.css" $}
        {$ path_style="/src/assets/css/UserProfile/UserMain.css" $}
        {$ path_style="/src/assets/css/Header/Header.css" $}
        {$ path_style="/src/assets/css/Header/StickyHeader.css" $}
    </head>
    <body>
        <!-- Area of visibility VUE.js -->
        <div id="wrapper" class="show_content">
            <div class="preloader" :class="setDeletePreloader" v-if="preload">
                {{ if $.ProfileData.Name }}
                <h1>Evade | {{ $.ProfileData.Name }}</h1>
                {{ else}}
                <h1>Evade | Profile</h1>
                {{ end }}
                <div class="progress"></div>
            </div>
            <!-- START Header block -->
            <header class="header" v-if="dropHeader">
                <div class="container">
                    <div class="header_nav">
                        <div class="header_nav__item">
                            <div class="header_main_logo block-link">
                                <a class="point-link" href="/"></a>
                                <img
                                    class="lazyload"
                                    data-src="/ui/assets/images/main_logo.png"
                                />
                            </div>
                        </div>
                        {{ if $.HeaderData.Auth }}
                        <div class="header_nav__item">
                            <a href="/{{ $.HeaderData.UserId }}">Профиль</a>
                        </div>
                        <div class="header_nav__item">
                            <a
                                class="open_window"
                                v-hide-elem="{id:'add_community', val:['community']}"
                                @click="community = !community"
                                >Проекты
                                <span
                                    class="arrow_list_close"
                                    :class="rotateArrowCommunity"
                                ></span>
                            </a>
                            <div
                                id="add_community"
                                class="add_window"
                                v-show="community"
                            >
                                <div class="add_window__content">
                                    <a href="/insocial">inSocial - общение с подписчиками</a>
                                    <a href="/inmusic">inMusic - музыка всего мира</a>
                                    <a href="/inbeats">inBeats - торговля битов</a>
                                </div>
                            </div>
                        </div>
                        <div class="header_nav__item">
                            <a
                                class="open_window"
                                v-hide-elem="{id:'add_commerce', val:['commerce']}"
                                @click="commerce = !commerce"
                                >Коммерция
                                <span
                                    class="arrow_list_close"
                                    :class="rotateArrowCommerce"
                                ></span
                            ></a>
                            <div
                                id="add_commerce"
                                class="add_window"
                                v-show="commerce"
                            >
                                <div class="add_window__content">
                                    <a href="/subscriptions">Подписки</a>
                                    <a href="/orders">Заказы</a>
                                </div>
                            </div>
                        </div>
                        <div class="header_nav__item">
                            <a
                                class="open_window"
                                v-hide-elem="{id:'add_settings', val:['settings']}"
                                @click="settings = !settings"
                                >Настройки
                                <span
                                    class="arrow_list_close"
                                    :class="rotateArrowSettings"
                                ></span
                            ></a>
                            <div
                                id="add_settings"
                                class="add_window"
                                v-show="settings"
                            >
                                <div class="add_window__content">
                                    <a href="/customize"
                                        >Настроить профиль</a
                                    >
                                    <a href="/customize/shop"
                                        >Настроить магазин</a
                                    >
                                    <a href="/customize/personal-data"
                                        >Настроить личные данные</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="header_nav__item">
                            <a href="/directory">Справочник</a>
                        </div>
                        <div class="header_nav__item">
                            <button @click="signOut()" class="btn">
                                Выход
                            </button>
                        </div>
                        {{ else }}
                        <div class="header_nav__item">
                            <a href="/signin">Вход</a>
                        </div>
                        <div class="header_nav__item">
                            <a href="/signup">Регистрация</a>
                        </div>
                        <div class="header_nav__item">
                            <a href="/directory">Справочник</a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </header>
            <!-- END Header block -->

            <!-- START STICKY HEADER block -->
            <header class="header_sticky" v-if="showStickyHeader">
                <div class="header_sticky_nav">
                    <div class="header_sticky_nav__item">
                        <div class="header_sticky_main_logo block-link">
                            <a class="point-link" href="/"></a>
                            <img
                                class="lazyload"
                                data-src="/ui/assets/images/main_logo.png"
                            />
                        </div>
                    </div>
                    {{ if $.HeaderData.Auth }}
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a
                                @click="hideStickyHeader()"
                                href="/{{ $.HeaderData.UserId }}"
                            ></a>
                            <p>Профиль</p>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a @click="community = !community"></a>
                            <p>
                                Проекты
                                <span
                                    class="arrow_list_close"
                                    :class="rotateArrowCommunity"
                                ></span>
                            </p>
                        </div>
                        <div v-show="community" class="sticy_add_window">
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/insocial"
                                ></a>
                                <p>inSocial</p>
                            </div>
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/inmusic"
                                ></a>
                                <p>inMusic</p>
                            </div>
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/inbeats"
                                ></a>
                                <p>inBeats</p>
                            </div>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a @click="commerce = !commerce"></a>
                            <p>
                                Коммерция
                                <span
                                    class="arrow_list_close"
                                    :class="rotateArrowCommerce"
                                ></span>
                            </p>
                        </div>
                        <div v-show="commerce" class="sticy_add_window">
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/subscriptions"
                                ></a>
                                <p>Подписки</p>
                            </div>
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/orders"
                                ></a>
                                <p>Заказы</p>
                            </div>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a @click="settings = !settings"></a>
                            <p>Настройки</p>
                            <span
                                class="arrow_list_close"
                                :class="rotateArrowSettings"
                            ></span>
                        </div>
                        <div v-show="settings" class="sticy_add_window">
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/customize"
                                ></a>
                                <p>Настроить профиль</p>
                            </div>
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/customize/shop"
                                ></a>
                                <p>Настроить магазин</p>
                            </div>
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/customize/personal-data"
                                ></a>
                                <p>Настроить личные данные</p>
                            </div>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a
                                @click="hideStickyHeader()"
                                href="/directory"
                            ></a>
                            <p>Справочник</p>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <button
                            @click="signOut(), hideStickyHeader()"
                            class="btn"
                        >
                            Выход
                        </button>
                    </div>
                    {{ else }}
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a @click="hideStickyHeader()" href="/signin"></a>
                            <p>Вход</p>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a @click="hideStickyHeader()" href="/signup"></a>
                            <p>Регистрация</p>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a
                                @click="hideStickyHeader()"
                                href="/directory"
                            ></a>
                            <p>Справочник</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </header>
            <!-- END STICKY HEADER block -->

            <!-- START Main block for VUE.JS -->
            <main class="main indent-top">
                <div class="main__body_content container">
                    <div class="profile show_content">
                        <h1 class="connect_bd">Связано с Базой данных</h1>
                        <div class="content_header">
                            <div class="content_title">
                                <div class="content_images">
                                    <div class="banner">
                                        <img class="lazyload"
                                            data-src="{{ $.ProfileData.Banner }}"
                                        />
                                    </div>
                                    <div
                                        class="logo {{ $.ProfileData.NetworkStatus }}"
                                    >
                                        <img class="lazyload"
                                            data-src="{{ $.ProfileData.Logo }}"
                                        />
                                    </div>
                                </div>
                                <div class="content_header__main_data">
                                    <div class="content_header__user_data">
                                        <h1>{{ $.ProfileData.Name }}</h1>
                                        <!-- <h2>{ userData.position }</h2> -->
                                    </div>
                                    <div class="content_header__user_data">
                                        <h3>
                                            Подписчики: {{ $.ProfileData.Audience }}
                                        </h3>
                                        {{ if not $.ProfileData.Auth }}
                                        <button class="btn not_subs">
                                            Подписаться
                                        </button>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                            <div class="content_subheader">
                                <div class="content_subheader__items">
                                    <div class="content_subheader__item">
                                        <router-link
                                            :to="`/{{ $.HeaderData.UserUrlId }}`"
                                            >Новости</router-link
                                        >
                                    </div>
                                    <div class="content_subheader__item">
                                        <router-link
                                            :to="`/{{ $.HeaderData.UserUrlId }}/aboutMe`"
                                            >Обо мне</router-link
                                        >
                                    </div>
                                    <div class="content_subheader__item">
                                        <a href="/messages">Сообщение</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <router-view :title="aboutme.title" :content="aboutme.content"></router-view>
                    </div>
                </div>
            </main>
            <!-- END Main block for VUE.JS -->
        </div>
        <!-- END Area of visibility VUE.js -->
    </body>
</html>
{{ end }}
