.messages {
    width: 100%;
    position: relative;
}

.messages_folders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.messages_folder {
    width: 48%;
}

.messages_folder .btn {
    height: 60px;
    font-size: 18px;
}

/* Message main items */
/* Cards */
.mesages_content {
    margin-top: 60px;
}

.message_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.message_item {
    height: 75px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin: 15px 0;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.message_item>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.message_item__control {
    display: flex;
}
.message_item__control button {
    margin: 0 5px;
}

.message_item:hover .message_item__banner {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.message_item__info {
    background-color: rgba(255, 255, 255, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    z-index: 1;
}

.message_item__logo {
    background-color: white;
    width: 60px;
    height: 60px;
}

.message_item__logo,
.message_item__logo img {
    border-radius: 50%;
}
.message_item__logo img {
    height: 100% !important;
}

.message_item__banner {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    position: absolute;
    right: 0;
    width: 100%;
    height: auto;
    filter: blur(5px);
}

/* Message Exchange */
.message_header {
    position: relative;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.message_header button {
    width: 20%;
}

.message_block_img {
    border-radius: 50%;
    position: relative;
    width: 50px;
    height: 50px;
}

.message_block_img a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.message_block_img img {
    border-radius: 50%;
}

.message__main_content {
    height: 80vh;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.message_view {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    overflow-y: overlay;
    height: 100%;
    padding: 20px;
    margin-bottom: 10px;

}

.message_view_friend,
.message_view_me {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.message_view_friend {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.message_view_me {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.message_send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.message_send .write_message {
    min-height: 70px;
    max-height: 200px;
    max-width: 75%;
    min-width: 75%;
    overflow-y: auto;
    outline: none;
}

.write_message {
    padding: 10px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
}

.control_message {
    width: 20%;
}

.control_message button {
    height: 70px;
}

.message_view_friend__content {
    background-color: rgb(0, 76, 255);
    color: white;
    padding: 10px;
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;
}

.message_view_me__content {
    border: 1px solid rgb(211, 211, 211);
    padding: 10px;
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 15px;
}

.message_view_img__friend {
    margin-right: 15px;
}

.message_view_friend,
.message_view_me {
    margin: 5px 0;
}

.message_date {
    font-size: 12px;
    color: rgb(160, 160, 160);
}

.indicator_new_view_message {
    position: relative;
}

.indicator_new_view_message.message_view_me__content::before,
.indicator_new_view_message.message_view_friend__content::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #007aff;
    display: block;
}

.indicator_new_view_message.message_view_friend__content::before {
    right: -20px;
}

.indicator_new_view_message.message_view_me__content::before {
    left: -20px;
}



@media screen and (max-width: 600px) {
    .message_item__info {
        background-color: rgba(255, 255, 255, 0.6);
        width: 100%;
    }

    .message_item__banner {
        width: 100%;
    }

    .message_item__logo {
        width: 50px;
        height: 50px;
    }

    .message__main_content {
        height: 85vh;
    }

    .message_view_friend__content,
    .message_view_me__content {
        max-width: none;
    }
}
