.content_header {
    border: 2px solid rgb(208, 208, 208);
    border-radius: 10px;
    overflow: hidden;
    background-color: #f1f1f1;
}
.content_images {
    position: relative;
}
.banner {
    width: 100%;
    max-height: 350px;
    overflow: hidden;
}
.logo {
    position: absolute;
    bottom: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
}
.logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.content_header__main_data {
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.content_header__user_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.content_header__user_data h1, .content_header__user_data h2, .content_header__user_data h3, .content_header__user_data button {
    white-space: nowrap;
    margin: 0 10px;
}
.content_header__user_data button {
    border: 1px solid black;
}
.content_header__user_data button:hover {
    background-color: red;
    color: white;
}
.content_subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    background-color: #f1f1f1;
    height: 30px;
}
.content_subheader__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.content_subheader__item {
    margin: 0 5px;
}

@media screen and (max-width: 600px) {
    .logo {
        bottom: -20px;
        width: 75px;
        height: 75px;
    }
    .content_header__main_data {
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top: 20px;
    }
}