{$ define_template="header_layout" $}
<!-- START Header block -->
<header class="header" v-if="!showMobileHeader">
    <div class="container">
        <div class="header_nav">
            <div class="header_nav__item">
                <div class="header_main_logo block-link">
                    <a class="point-link" href="/"></a>
                    <img class="lazyload" data-src="/ui/assets/images/main_logo.png" />
                </div>
            </div>
            {{ if $.HeaderData.Auth }}
            <div class="header_nav__item">
                <a href="/{{ $.HeaderData.UserId }}">Профиль</a>
            </div>
            <div class="header_nav__item">
                <a class="open_window" v-hide-elem="{id:'add_beats', val:['beats']}" @click="beats = !beats">Биты
                    <span class="arrow_list_close" :class="rotateArrowbeats"></span>
                </a>
                <div id="add_beats" class="add_window" v-show="beats">
                    <div class="add_window__content">
                        <a href="/beats">Поиск</a>
                        <a href="/beats/favorites">Избранное</a>
                        <a href="/beats/my-albums">Мои альбомы</a>
                    </div>
                </div>
            </div>
            <div class="header_nav__item">
                <a href="/messenger">Сообщения</a>
            </div>
            <div class="header_nav__item">
                <a href="/subscriptions">Подписки</a>
            </div>
            <div class="header_nav__item">
                <a class="open_window" v-hide-elem="{id:'add_settings', val:['settings']}"
                    @click="settings = !settings">Настройки
                    <span class="arrow_list_close" :class="rotateArrowSettings"></span></a>
                <div id="add_settings" class="add_window" v-show="settings">
                    <div class="add_window__content">
                        <a href="/customize">Настроить профиль</a>
                        <a href="/customize/personal-data">Настроить личные данные</a>
                    </div>
                </div>
            </div>
            <div class="header_nav__item">
                <a href="/directory">Справочник</a>
            </div>
            <div class="header_nav__item">
                <button @click="signOut()" class="btn">
                    Выход
                </button>
            </div>
            {{ else }}
            <div class="header_nav__item">
                <a href="/signin">Вход</a>
            </div>
            <div class="header_nav__item">
                <a href="/signup">Регистрация</a>
            </div>
            <div class="header_nav__item">
                <a href="/directory">Справочник</a>
            </div>
            {{ end }}
        </div>
    </div>
</header>
<!-- END Header block -->
{$ end_template $}