{$ define_template="header_layout" $}
<!-- START Header block -->
<header class="header" v-if="!showMobileHeader">
  <div class="container">
    <div class="header_nav">
      <div class="header_nav__item logo_header">
        <h1>
          <span class="evo_start">evo</span><span class="evo_end">beat</span>
        </h1>
        <router-link to="/"></router-link>
      </div>
      {{ if $.HeaderData.Auth }}
      <div class="header_nav__item">
        <router-link to="/{{ $.HeaderData.UserId }}">профиль</router-link>
      </div>
      <div class="header_nav__item">
        <a
          class="open_window"
          v-hide-elem="{id:'add_beats', val:['beats']}"
          @click="beats = !beats"
          >биты
          <span class="arrow_list_close" :class="rotateArrowbeats"></span>
        </a>
        <div id="add_beats" class="add_window" v-show="beats">
          <div class="add_window__content">
            <router-link to="/beats">поиск</router-link>
            <router-link to="/beats/favorites">избранное</router-link>
            <router-link to="/beats/my-albums">мои альбомы</router-link>
          </div>
        </div>
      </div>
      <div class="header_nav__item">
        <router-link to="/messenger">сообщения</router-link>
      </div>
      <div class="header_nav__item">
        <router-link to="/subscriptions">подписки</router-link>
      </div>
      <div class="header_nav__item">
        <a
          class="open_window"
          v-hide-elem="{id:'add_settings', val:['settings']}"
          @click="settings = !settings"
          >настройки
          <span class="arrow_list_close" :class="rotateArrowSettings"></span
        ></a>
        <div id="add_settings" class="add_window" v-show="settings">
          <div class="add_window__content">
            <router-link to="/customize">настроить профиль</router-link>
            <router-link to="/customize/personal-data"
              >настроить личные данные</router-link
            >
          </div>
        </div>
      </div>
      <div class="header_nav__item">
        <router-link to="/directory">справочник</router-link>
      </div>
      <div class="header_nav__item">
        <a @click="signOut()"> выход </a>
      </div>
      {{ else }}
      <div class="header_nav__item">
        <router-link to="/signin">вход</router-link>
      </div>
      <div class="header_nav__item">
        <router-link to="/signup">регистрация</router-link>
      </div>
      <div class="header_nav__item">
        <router-link to="/directory">справочник</router-link>
      </div>
      {{ end }}
    </div>
  </div>
</header>
<!-- END Header block -->
{$ end_template $}
