{$ define_template="header_layout" $}
<!-- START Header block -->
<header class="header" v-if="dropHeader">
    <div class="container">
        <div class="header_nav">
            <div class="header_nav__item">
                <div class="header_main_logo block-link">
                    <a class="point-link" href="/"></a>
                    <img class="lazyload" data-src="/ui/assets/images/main_logo.png" />
                </div>
            </div>
            {{ if $.HeaderData.Auth }}
            <div class="header_nav__item">
                <a href="/{{ $.HeaderData.UserId }}">Профиль</a>
            </div>
            <div class="header_nav__item">
                <a class="open_window" v-hide-elem="{id:'add_community', val:['community']}"
                    @click="community = !community">Проекты
                    <span class="arrow_list_close" :class="rotateArrowCommunity"></span>
                </a>
                <div id="add_community" class="add_window" v-show="community">
                    <div class="add_window__content">
                        <a href="/inSocial">inSocial - общение с подписчиками</a>
                        <a href="/inMusic">inMusic - музыка всего мира</a>
                        <a href="/inBeats">inBeats - торговля битов</a>
                    </div>
                </div>
            </div>
            <div class="header_nav__item">
                <a class="open_window" v-hide-elem="{id:'add_commerce', val:['commerce']}"
                    @click="commerce = !commerce">Коммерция
                    <span class="arrow_list_close" :class="rotateArrowCommerce"></span></a>
                <div id="add_commerce" class="add_window" v-show="commerce">
                    <div class="add_window__content">
                        <a href="/subscriptions">Подписки</a>
                        <a href="/orders">Заказы</a>
                    </div>
                </div>
            </div>
            <div class="header_nav__item">
                <a class="open_window" v-hide-elem="{id:'add_settings', val:['settings']}"
                    @click="settings = !settings">Настройки
                    <span class="arrow_list_close" :class="rotateArrowSettings"></span></a>
                <div id="add_settings" class="add_window" v-show="settings">
                    <div class="add_window__content">
                        <a href="/customize">Настроить профиль</a>
                        <a href="/customize/inBeats">Настроить inBeats</a>
                        <a href="/customize/personal-data">Настроить личные данные</a>
                    </div>
                </div>
            </div>
            <div class="header_nav__item">
                <a href="/directory">Справочник</a>
            </div>
            <div class="header_nav__item">
                <button @click="signOut()" class="btn">
                    Выход
                </button>
            </div>
            {{ else }}
            <div class="header_nav__item">
                <a href="/signin">Вход</a>
            </div>
            <div class="header_nav__item">
                <a href="/signup">Регистрация</a>
            </div>
            <div class="header_nav__item">
                <a href="/directory">Справочник</a>
            </div>
            {{ end }}
        </div>
    </div>
</header>
<!-- END Header block -->
{$ end_template $}