{$ define_template="stickyheader_layout" $}
<!-- START STICKY HEADER block -->
<header class="header_sticky" v-if="showMobileHeader">
  <div class="header_sticky_nav">
    <div class="header_sticky_nav__item">
      <div class="header_sticky_main_logo block-link">
        <a class="point-link" href="/"></a>
        <img class="lazyload" data-src="/ui/assets/images/main_logo.png" />
      </div>
    </div>
    {{ if $.HeaderData.Auth }}
    <div class="header_sticky_nav__item">
      <div class="btn btn_link">
        <a @click="hideStickyHeader()" href="/{{ $.HeaderData.UserId }}"></a>
        <p>Профиль</p>
      </div>
    </div>
    <div class="header_sticky_nav__item">
      <div class="btn btn_link">
        <a @click="hideStickyHeader()" href="/messenger"></a>
        <p>Сообщения</p>
      </div>
    </div>
    <div class="header_sticky_nav__item">
      <div class="btn btn_link">
        <a @click="beats = !beats"></a>
        <p>
          Поиск
          <span class="arrow_list_close" :class="rotateArrowBeats"></span>
        </p>
      </div>
      <div v-show="beats" class="sticy_add_window">
        <div class="btn btn_link">
          <a @click="hideStickyHeader()" href="/beats"></a>
          <p>Биты</p>
        </div>
        <div class="btn btn_link">
          <a @click="hideStickyHeader()" href="/beats/favorites"></a>
          <p>Избранное</p>
        </div>
        <div class="btn btn_link">
          <a @click="hideStickyHeader()" href="/beats/my-albums"></a>
          <p>Мои альбомы</p>
        </div>
      </div>
    </div>
    <div class="header_sticky_nav__item">
      <div class="btn btn_link">
        <a @click="hideStickyHeader()" href="/subscriptions"></a>
        <p>Подписки</p>
      </div>
    </div>
    <div class="header_sticky_nav__item">
      <div class="btn btn_link">
        <a @click="settings = !settings"></a>
        <p>Настройки</p>
        <span class="arrow_list_close" :class="rotateArrowSettings"></span>
      </div>
      <div v-show="settings" class="sticy_add_window">
        <div class="btn btn_link">
          <a @click="hideStickyHeader()" href="/customize"></a>
          <p>Настроить профиль</p>
        </div>
        <div class="btn btn_link">
          <a @click="hideStickyHeader()" href="/customize/personal-data"></a>
          <p>Настроить личные данные</p>
        </div>
      </div>
    </div>
    <div class="header_sticky_nav__item">
      <div class="btn btn_link">
        <a @click="hideStickyHeader()" href="/directory"></a>
        <p>Справочник</p>
      </div>
    </div>
    <div class="header_sticky_nav__item">
      <button @click="signOut(), hideStickyHeader()" class="btn">
        Выход
      </button>
    </div>
    {{ else }}
    <div class="header_sticky_nav__item">
      <div class="btn btn_link">
        <a @click="hideStickyHeader()" href="/signin"></a>
        <p>Вход</p>
      </div>
    </div>
    <div class="header_sticky_nav__item">
      <div class="btn btn_link">
        <a @click="hideStickyHeader()" href="/signup"></a>
        <p>Регистрация</p>
      </div>
    </div>
    <div class="header_sticky_nav__item">
      <div class="btn btn_link">
        <a @click="hideStickyHeader()" href="/directory"></a>
        <p>Справочник</p>
      </div>
    </div>
    {{ end }}
  </div>
</header>
<!-- END STICKY HEADER block -->
{$ end_template $}