{{ define "autoriz"}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Авторизация</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/ui/assets/css/FYd88G8g8Q7IKRIs2G3.css" type="text/css">
    <link rel="stylesheet" href="/ui/assets/css/DrS6ZBdKTFVHPd2AlgY.css" type="text/css">
    <link rel="stylesheet" href="/ui/assets/css/Header/UIO19WXhiy4547q6RyH.css" type="text/css">
    <link rel="stylesheet" href="/ui/assets/css/Header/FgsMAxCALdstH0ihINc.css" type="text/css">
<link rel="icon" href="/ui/assets/images/favicon.png"><script defer src="/ui/assets/js/_autoriz.fc34ef59d3fce5761c64.js"></script></head>

<body>
    <!-- Area of visibility VUE.js -->
    <div id="wrapper" class="show_content">
        <div class="preloader" :class="setDeletePreloader" v-if="preload">
            <h1>Evade | Autorization</h1>
            <div class="progress"></div>
        </div>
        
        <!-- HEADER LAYOUT TEMPLATES -->
        {{ template "header_layout" . }}
        {{ template "stickyheader_layout" . }}
        <!-- END HEADER LAYOUT TEMPLATES -->

        <!-- BACKGROUND SLIDER -->
        <div class="background-slides">
            <div class="background-slide slide-first">
                <img src="/ui/assets/60fb3b4acbc61f1b5839.png">
            </div>
            <div class="background-slide slide-second">
                <img src="/ui/assets/07261f6035053960d006.png">
            </div>
        </div>
        <!-- END BACKGROUD SLIDER -->

        <!-- START Main block for VUE.JS -->
        <main class="main indent-top">
            <div class="main__body_content container">
                <div class="card-sign show_content">
                    <div class="card-sign-block">
                        <section class="title">
                            <router-link id="signin" to="/signin">Войти</router-link>
                            <router-link id="signup" to="/signup">Зарегистрироваться</router-link>
                        </section>
                        <router-view></router-view>
                    </div>
                </div>
                <p v-if="activeTitle.signup" class="privacy-policy">
                    Нажимая кнопку «Зарегистрироваться», вы принимаете
                    <a href="/directory/terms-of-use"> пользовательское соглашение</a>
                    и <a href="/directory/privacy-policy">политику конфиденциальности.</a>
                </p>
            </div>
        </main>
        <!-- END Main block for VUE.JS -->
    </div>
    <!-- END Area of visibility VUE.js -->
</body>

</html>
{{ end }}