{{ define "directory" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Справочник</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/ui/assets/css/yFkpe59MaFK68HMJi3F.css" type="text/css">
        <link rel="stylesheet" href="/ui/assets/css/zSrE4Ehkvwld1cUL8CN.css" type="text/css">
        <link rel="stylesheet" href="/ui/assets/css/Header/cLwDO3XjkdRtuV9uZkX.css" type="text/css">
        <link rel="stylesheet" href="/ui/assets/css/Header/RerAHHNOfTgwkDvACPZ.css" type="text/css">
    <link rel="icon" href="/ui/assets/images/favicon.png"><script defer src="/ui/assets/js/_directory.b76878bdef9a59f624a0.js"></script></head>
    <body>
        <!-- Area of visibility VUE.js -->
        <div id="wrapper" class="show_content">
            <div class="preloader" :class="setDeletePreloader" v-if="preload">
                <h1>Evade | Directory</h1>
                <div class="progress"></div>
            </div>
            <!-- START Header block -->
            <header class="header" v-if="dropHeader">
                <div class="container">
                    <div class="header_nav">
                        <div class="header_nav__item">
                            <div class="header_main_logo block-link">
                                <a class="point-link" href="/"></a>
                                <img
                                class="lazyload"
                                    data-src="/ui/assets/images/main_logo.png"
                                />
                            </div>
                        </div>
                        {{ if $.HeaderData.Auth }}
                        <div class="header_nav__item">
                            <a href="/{{ $.HeaderData.UserId }}">Профиль</a>
                        </div>
                        <div class="header_nav__item">
                            <a
                                class="open_window"
                                v-hide-elem="{id:'add_community', val:['community']}"
                                @click="community = !community"
                                >Сообщество
                                <span
                                    class="arrow_list_close"
                                    :class="rotateArrowCommunity"
                                ></span>
                            </a>
                            <div
                                id="add_community"
                                class="add_window"
                                v-show="community"
                            >
                                <div class="add_window__content">
                                    <a href="/messages">Сообщения</a>
                                    <a href="/music">Музыка</a>
                                    <a href="/subscriptions">Подписки</a>
                                </div>
                            </div>
                        </div>
                        <div class="header_nav__item">
                            <a
                                class="open_window"
                                v-hide-elem="{id:'add_commerce', val:['commerce']}"
                                @click="commerce = !commerce"
                                >Коммерция
                                <span
                                    class="arrow_list_close"
                                    :class="rotateArrowCommerce"
                                ></span
                            ></a>
                            <div
                                id="add_commerce"
                                class="add_window"
                                v-show="commerce"
                            >
                                <div class="add_window__content">
                                    <a href="/shop">Магазин</a>
                                    <a href="/orders">Заказы</a>
                                </div>
                            </div>
                        </div>
                        <div class="header_nav__item">
                            <a
                                class="open_window"
                                v-hide-elem="{id:'add_settings', val:['settings']}"
                                @click="settings = !settings"
                                >Настройки
                                <span
                                    class="arrow_list_close"
                                    :class="rotateArrowSettings"
                                ></span
                            ></a>
                            <div
                                id="add_settings"
                                class="add_window"
                                v-show="settings"
                            >
                                <div class="add_window__content">
                                    <a href="/customize">Настроить профиль</a>
                                    <a href="/customize/shop"
                                        >Настроить магазин</a
                                    >
                                    <a href="/customize/personal-data"
                                        >Настроить личные данные</a
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="header_nav__item">
                            <a href="/directory">Справочник</a>
                        </div>
                        <div class="header_nav__item">
                            <button @click="signOut()" class="btn">
                                Выход
                            </button>
                        </div>
                        {{ else }}
                        <div class="header_nav__item">
                            <a href="/signin">Вход</a>
                        </div>
                        <div class="header_nav__item">
                            <a href="/signup">Регистрация</a>
                        </div>
                        <div class="header_nav__item">
                            <a href="/directory">Справочник</a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </header>
            <!-- END Header block -->

            <!-- START STICKY HEADER block -->
            <header class="header_sticky" v-if="showStickyHeader">
                <div class="header_sticky_nav">
                    <div class="header_sticky_nav__item">
                        <div class="header_sticky_main_logo block-link">
                            <a class="point-link" href="/"></a>
                            <img
                            class="lazyload"
                                data-src="/ui/assets/images/main_logo.png"
                            />
                        </div>
                    </div>
                    {{ if $.HeaderData.Auth }}
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a
                                @click="hideStickyHeader()"
                                href="/{{ $.HeaderData.UserId }}"
                            ></a>
                            <p>Профиль</p>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a @click="community = !community"></a>
                            <p>
                                Сообщество
                                <span
                                    class="arrow_list_close"
                                    :class="rotateArrowCommunity"
                                ></span>
                            </p>
                        </div>
                        <div v-show="community" class="sticy_add_window">
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/messages"
                                ></a>
                                <p>Сообщения</p>
                            </div>
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/music"
                                ></a>
                                <p>Музыка</p>
                            </div>
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/subscriptions"
                                ></a>
                                <p>Подписки</p>
                            </div>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a @click="commerce = !commerce"></a>
                            <p>
                                Коммерция
                                <span
                                    class="arrow_list_close"
                                    :class="rotateArrowCommerce"
                                ></span>
                            </p>
                        </div>
                        <div v-show="commerce" class="sticy_add_window">
                            <div class="btn btn_link">
                                <a @click="hideStickyHeader()" href="/shop"></a>
                                <p>Магазин</p>
                            </div>
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/orders"
                                ></a>
                                <p>Заказы</p>
                            </div>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a @click="settings = !settings"></a>
                            <p>Настройки</p>
                            <span
                                class="arrow_list_close"
                                :class="rotateArrowSettings"
                            ></span>
                        </div>
                        <div v-show="settings" class="sticy_add_window">
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/customize"
                                ></a>
                                <p>Настроить профиль</p>
                            </div>
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/customize/shop"
                                ></a>
                                <p>Настроить магазин</p>
                            </div>
                            <div class="btn btn_link">
                                <a
                                    @click="hideStickyHeader()"
                                    href="/customize/personal-data"
                                ></a>
                                <p>Настроить личные данные</p>
                            </div>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a
                                @click="hideStickyHeader()"
                                href="/directory"
                            ></a>
                            <p>Справочник</p>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <button
                            @click="signOut(), hideStickyHeader()"
                            class="btn"
                        >
                            Выход
                        </button>
                    </div>
                    {{ else }}
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a @click="hideStickyHeader()" href="/signin"></a>
                            <p>Вход</p>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a @click="hideStickyHeader()" href="/signup"></a>
                            <p>Регистрация</p>
                        </div>
                    </div>
                    <div class="header_sticky_nav__item">
                        <div class="btn btn_link">
                            <a
                                @click="hideStickyHeader()"
                                href="/directory"
                            ></a>
                            <p>Справочник</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </header>
            <!-- END STICKY HEADER block -->

            <!-- START Main block for VUE.JS -->
            <main class="main indent-top">
                <div class="main__body_content container">
                    <div class="directory show_content">
                        <h1 class="connect_bd">Осталось наполнить текстовым контентом</h1>
                        <section class="title">
                            <h1>Справочник</h1>
                        </section>
                        <div class="directory_items">
                            <section v-if="showHideDirectory" class="directory_content">
                                <h2>
                                    Пункт 1. Основная документация и информация
                                    о сайте
                                </h2>
                                <ol>
                                    <li>
                                        <router-link
                                            to="/directory/basic-documentation"
                                            @click.native="showComponent()"
                                            >Основная документация</router-link
                                        >
                                    </li>
                                    <li><router-link
                                        to="/directory/service-information"
                                        @click.native="showComponent()"
                                        >Информация о сервисе</router-link
                                    ></li>
                                    <li><router-link
                                        to="/directory/service-founders"
                                        @click.native="showComponent()"
                                        >Основатели сервиса</router-link
                                    ></li>
                                </ol>
                                <h2>Пункт 2. Юридическая информация</h2>
                                <ol>
                                    <li>
                                        <router-link
                                            to="/directory/privacy-policy"
                                            @click.native="showComponent()"
                                            >Политика
                                            конфендициальности</router-link
                                        >
                                    </li>
                                    <li>
                                        <router-link
                                            to="/directory/terms-of-use"
                                            @click.native="showComponent()"
                                            >Пользовательское
                                            соглашение</router-link
                                        >
                                    </li>
                                </ol>
                                <h2>Пункт 3. Правила нашего сервиса</h2>
                                <ol>
                                    <li>Позже...</li>
                                    <li>Позже...</li>
                                    <li>Позже...</li>
                                </ol>
                                <h2>Пункт 4. Техническая поддержка</h2>
                                <ol>
                                    <li>Позже...</li>
                                    <li>Позже...</li>
                                    <li>Позже...</li>
                                </ol>
                                <h2>Пункт 5. Лицензии к трекам и битам</h2>
                                <ol>
                                    <li>MP3 LEASE</li>
                                    <li>WAV LEASE</li>
                                    <li>TRACK OUT</li>
                                    <li>EXCLUSIVE</li>
                                    <li>CUSTOM</li>
                                </ol>
                                <h2>Пункт 6. Оплата и комиссии</h2>
                                <ol>
                                    <li>Позже...</li>
                                    <li>Позже...</li>
                                    <li>Позже...</li>
                                </ol>
                                <h2>Пункт 7. Информация о подписках</h2>
                                <ol>
                                    <li>PREMIUM</li>
                                    <li>ADVERTISING</li>
                                    <li>Позже...</li>
                                </ol>
                                <h2>
                                    Пункт 8. Информация о системе достижений и
                                    наградах
                                </h2>
                                <ol>
                                    <li>Позже...</li>
                                    <li>Позже...</li>
                                    <li>Позже...</li>
                                </ol>
                                <h2>Пункт 9. Ссылки на странице</h2>
                                <ol>
                                    <li><router-link to="/directory/profile"
                                        @click.native="showComponent()">Профиль</router-link></li>
                                    <li><router-link to="/directory/commerce"
                                        @click.native="showComponent()">Коммерция</router-link></li>
                                    <li><router-link to="/directory/community"
                                        @click.native="showComponent()">Сообщество</router-link></li>
                                    <li><router-link to="/directory/settings"
                                        @click.native="showComponent()">Настройки</router-link></li>
                                </ol>
                            </section>
                            <section v-if="showHideComponent" class="directory_content__explanation">
                                <div class="directory_fixed">
                                    <router-view @hidecomponent="hideComponent"></router-view>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </main>
            <!-- END Main block for VUE.JS -->
        </div>
        <!-- END Area of visibility VUE.js -->
    </body>
</html>
{{ end }}
