{{ define "settings" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ $.SettingsData.Title }}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- <script src="http://localhost:8098"></script> -->
        
        <link rel="stylesheet" href="/ui/assets/css/FYd88G8g8Q7IKRIs2G3.css" type="text/css">
        <link rel="stylesheet" href="/ui/assets/css/Settings/b4XLX3e7bManOAxBx21.css" type="text/css">
        <link rel="stylesheet" href="/ui/assets/css/Header/UIO19WXhiy4547q6RyH.css" type="text/css">
        <link rel="stylesheet" href="/ui/assets/css/Header/FgsMAxCALdstH0ihINc.css" type="text/css">
    <link rel="icon" href="/ui/assets/images/favicon.png"><script defer src="/ui/assets/js/_settings.b78e8b547b3704b2f801.js"></script></head>
    <body>
        <!-- Area of visibility VUE.js -->
        <div id="wrapper" class="show_content">
            <div class="preloader" :class="setDeletePreloader" v-if="preload">
                <h1>Evade | Settings</h1>
                <div class="progress"></div>
            </div>
            
            <!-- HEADER LAYOUT TEMPLATES -->
            {{ template "header_layout" . }}
            {{ template "stickyheader_layout" . }}
            <!-- END HEADER LAYOUT TEMPLATES -->

            <!-- START Main block for VUE.JS -->
            <main class="main indent-top">
                <div class="main__body_content container">
                    <div class="settings show_content">
                        <section class="container title">
                            <h1 v-if="!title.show">
                                {{ $.SettingsData.Title }}
                            </h1>
                            <h1 v-else>{% title.value %}</h1>
                        </section>
                        <router-view></router-view>
                    </div>
                </div>
            </main>
            <!-- END Main block for VUE.JS -->
        </div>
        <!-- END Area of visibility VUE.js -->
    </body>
</html>
{{ end }}
