{{ define "index" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <script src="http://localhost:8098"></script> -->
    <!-- prettier-ignore -->
    {$ path_style="/src/assets/css/index.css" $}

    {$ path_style="/src/assets/css/News.css" $}

    {$ path_style="/src/assets/css/Header/Header.css" $}
    {$ path_style="/src/assets/css/Header/StickyHeader.css" $}

    {$ path_style="/src/assets/css/Audio/Audio.css" $}
    {$ path_style="/src/assets/css/Audio/GlobalPlayer.css" $}
    {$ path_style="/src/assets/css/Audio/progressBarTime.css" $}

    {$ path_style="/src/assets/css/Album/Album.css" $}
    
    {$ path_style="/src/assets/css/Sign.css" $}

    {$ path_style="/src/assets/css/Directory.css" $}

    {$ path_style="/src/assets/css/Profile.css" $}

    {$ path_style="/src/assets/css/UserProfile/UserMain.css" $}

    {$ path_style="/src/assets/css/Settings/Profile.css" $}
    {$ path_style="/src/assets/css/Settings/EvoBeats.css" $}

    {$ path_style="/src/assets/css/BeatsSearch.css" $}
    {$ path_style="/src/assets/css/Commerce/Shop.css" $}
    {$ path_style="/src/assets/css/Swiper/swiper-bundle.css" $}

    {$ path_style="/src/assets/css/Messages.css" $}
  </head>

  <body>
    <!-- Area of visibility VUE.typescript -->
    <div id="wrapper" class="show_content">
      <!-- Preloader -->
      <div class="preloader" :class="setDeletePreloader" v-if="preload">
        <h1>
          <span class="evo_start">evo</span><span class="evo_end">beat</span>
        </h1>
        <div class="progress"></div>
      </div>
      <!-- END preloader -->

      <!-- HEADER LAYOUT TEMPLATES -->
      <!-- prettier-ignore -->
      {$ load_template="header_layout" $}
      {$ load_template="stickyheader_layout" $}
      <!-- END HEADER LAYOUT TEMPLATES -->

      <!-- START Main block for VUE.JS -->
      <main class="main indent-top">
        <div class="main__body_content container">
          <router-view></router-view>
        </div>
        <ui-message-notificate
          :chat-data="chatData"
          :show-notif="showNotifMessage"
          @close-notif="onCloseNotif"
        >
        </ui-message-notificate>
        <global-player v-if="userAuthorized"></global-player>
      </main>
      <!-- END Main block for VUE.JS -->
    </div>
    <!-- END Area of visibility VUE.typescript -->
  </body>
</html>
{{ end }}
