{{ define "index" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Evade</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <script src="http://localhost:8098"></script> -->
    {$ path_style="/src/assets/css/index.css" $}
    {$ path_style="/src/assets/css/News.css" $}
    {$ path_style="/src/assets/css/Header/Header.css" $}
    {$ path_style="/src/assets/css/Header/StickyHeader.css" $}
</head>

<body>
    <!-- Area of visibility VUE.typescript -->
    <div id="wrapper" class="show_content">
        <!-- Preloader -->
        <div class="preloader" :class="setDeletePreloader" v-if="preload">
            <h1>Evade | Home</h1>
            <div class="progress"></div>
        </div>
        <!-- END preloader -->

        <!-- HEADER LAYOUT TEMPLATES -->
        {$ load_template="header_layout" $}
        {$ load_template="stickyheader_layout" $}
        <!-- END HEADER LAYOUT TEMPLATES -->

        <!-- START Main block for VUE.JS -->
        <main class="main indent-top">
            <div class="main__body_content container">
                <div class="news show_content">
                    <section class="container title">
                        <h1>Новости Evade</h1>
                    </section>
                    <section class="container news_content">
                        <div class="news_block">
                            <h2>Сегодня 03.30.2022, второе обновление!</h2>
                            <div class="news_block__content">
                                <p>Изменения:</p>
                                <ul>
                                    <li>
                                        Добавлена система online/offline
                                    </li>
                                    <li>
                                        Исправлены не значительные ошибки на
                                        сервере
                                    </li>
                                </ul>
                                <p>Проект продолжает развиваться</p>
                                <p>
                                    На сегодняшний день проект имеет
                                    состояние:
                                    <i>Закрытая АЛЬФА-версия: 1.0.7</i>
                                </p>
                            </div>
                        </div>
                        <div class="news_block">
                            <h2>Сегодня 03.30.2022, первое обновление!</h2>
                            <div class="news_block__content">
                                <p>Изменения:</p>
                                <ul>
                                    <li>
                                        Добавлен скелет мобильной версии
                                    </li>
                                    <li>
                                        Изменена шапка при мобильной версии,
                                        свайпни вправо и откроется шапка,
                                        свайпни влево шапка закроется
                                    </li>
                                    <li>
                                        Добавлен скелет под-контента в
                                        профиле
                                    </li>
                                    <li>
                                        Исправлены не значительные ошибки на
                                        сервере
                                    </li>
                                </ul>
                                <p>Проект продолжает развиваться</p>
                                <p>
                                    На сегодняшний день проект имеет
                                    состояние:
                                    <i>Закрытая АЛЬФА-версия: 1.0.6</i>
                                </p>
                            </div>
                        </div>
                        <div class="news_block">
                            <h2>Сегодня 03.29.2022, первый домен!</h2>
                            <div class="news_block__content">
                                <p>
                                    Сегодня первый день проекта на домене, а
                                    также и первая новость
                                </p>
                                <p>Проект продолжает развиваться</p>
                                <p>
                                    На сегодняшний день проект имеет
                                    состояние:
                                    <i>Закрытая АЛЬФА-версия: 1.0.5</i>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <ui-message-notificate :chat-data="chatData" :show-notif="showNotifMessage" @close-notif="onCloseNotif">
            </ui-message-notificate>
        </main>
        <!-- END Main block for VUE.JS -->
    </div>
    <!-- END Area of visibility VUE.typescript -->
</body>

</html>
{{ end }}